In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\shash\Desktop\GEU Projects\JobRecommendationSystem\Combined_Jobs_Final.csv.zip")
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [4]:
df=df[['Title','Job.Description']]#out of all coloumns we needed only two coloumn which is title and job description

In [5]:
df.head(3)#we will be working on this dataset

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [6]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [7]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [8]:
df=df.sample(n=1000,random_state=42)
df.shape

(1000, 2)

# Cleaning dataset

In [9]:
import nltk
from nltk.stem.porter import PorterStemmer
                                            #nltk.stem is a module in NLTK that provides stemming algorithms.
                                            #PorterStemmer is a specific stemming algorithm that reduces words to their root form (also called "stems").
                                            # for example:- running->run,happily->happi.
from nltk.corpus import stopwords
import re#regular expression

In [10]:
ps=PorterStemmer()#kisi bhi word ko base form me lata h

In [11]:
def cleaning(txt):
    cleaned_txt=re.sub(r'[^a-zA-Z0-9\s]','',txt)
    tokens=nltk.word_tokenize(cleaned_txt.lower())
    stemming=[ps.stem(word) for word in tokens if word not in stopwords.words('english')]
    
    return ' '.join(stemming)

In [12]:
cleaning('this is my book with 0987 digits driven loving moving and\n\n\r&^%')

'book 0987 digit driven love move'

In [13]:
df['Title']=df['Title'].apply(lambda x:cleaning(x))
df['Job.Description']=df['Job.Description'].astype(str).apply(lambda x:cleaning(x))

In [16]:
df['Job.Description'][64119]

'job summari knowledg univers ku site director site leader inspir children teacher alik learn grow passion educ excel confid teach children adult use nation recogn curriculum framework creat uniqu engag classroom experi commit make site success know meaning relationship children famili team import success fulli engag enthusiast work eager share knowledg other job respons essenti function basic expect site director cours creativ new way meet exceed expect encourag long requir essenti function also met supervis children staff record keep licens record child file lesson plan implement mainten safe welcom classroom environ build relationship commun school recruit new student program applic must strong organiz skill'

In [17]:
df['new_col']=df['Title']+" "+df['Job.Description']

In [18]:
df.head(3)

,Title,Job.Description,new_col
64119,site director knowledg univers,job summari knowledg univers ku site director ...,site director knowledg univers job summari kno...
35827,administr assist officeteam,ref id 03110118480classif secretaryadmin asstc...,administr assist officeteam ref id 03110118480...
72100,account manag chi payment system,yoursquor energet motiv hardwork look prosper ...,account manag chi payment system yoursquor ene...

# Vectorization

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [31]:
similarity

array([[1.        , 0.04042121, 0.02576217, ..., 0.05812558, 0.02553415,
        0.08439393],
       [0.04042121, 1.        , 0.02654339, ..., 0.03223153, 0.0051686 ,
        0.02355136],
       [0.02576217, 0.02654339, 1.        , ..., 0.05841122, 0.03157436,
        0.03907004],
       ...,
       [0.05812558, 0.03223153, 0.05841122, ..., 1.        , 0.06388816,
        0.1154483 ],
       [0.02553415, 0.0051686 , 0.03157436, ..., 0.06388816, 1.        ,
        0.38480582],
       [0.08439393, 0.02355136, 0.03907004, ..., 0.1154483 , 0.38480582,
        1.        ]])

# Recommendation_System_Begin

In [51]:
def recommendation(title):
    indx = df[df['Title'] == title].index[0]
    indx = df.index.get_loc(indx)
    distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

    jobs = []
    for i in distances:
        print(df.iloc[i[1]].Title)

In [52]:
recommendation('site director knowledg uinv')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [54]:
import pickle
pickle.dump(df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [55]:
import pandas as pd
print(pd.__version__)

2.0.3